@media all and (max-width: 800px){
#header-navigation ul li a{
padding: 5px 9px;
}
    .head-logo{
    text-align: center;
    }
    .header-top .col-md-6{
     width: 100%;
        margin-top: 20px;
    }
    .product-4cols .col-md-3{
    width: 50%;
        float: left;
        margin-bottom: 20px;
    }
    .of-product{
    border: 1px solid #373737;
    }
    .footlinks .col-md-3{
    width: 50%;
        float: left;
        margin-bottom: 20px;
    }
}
@media all and (max-width: 767px){
    
    .navbar-nav{
    padding-left: 20px;
    }
    .navbar-nav li:last-child{
    margin-top: 10px;
    }
}
@media all and (max-width: 480px){
     .product-4cols .col-md-3{
    width: 100%;
    }
     .footlinks .col-md-3{
    width: 100%;
    }
     .order-progress ul li{
         padding: 5px 6px 0;
     }
}
@media all and (max-width: 360px){
    .acount-navi{
     float: left;
        width: 100%;
    }
    .head-shopbag{
     clear: both;margin: auto;
        float: none !important;
         width: 135px;
    }
    .head-search{
    margin-top: 20px;
    }
    .order-progress {
        height:110px;
    }

    .order-progress ul li{
         padding: 5px 6px 0;
         width:33.3%;
         float:left;
         height:50px;
     }
}
