@model IList<ProductOverviewModel>
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.RecentlyViewedProducts").Text);
} 
@using Nop.Web.Models.Catalog;
<div class="page recently-viewed-products-page">
    
    <h4 class="no-margin font-spr color-grn">@T("Products.RecentlyViewedProducts")</h4>
    <div class="underline-dased margin-t5 clearfix">&nbsp;</div>
        <div class="page-body">
            @if (Model.Count > 0)
            {
                <div class="row">
                    <div class="product-grid">
                        @foreach (var product in Model)
                        {
                            <div class="item-box">
                                @Html.Partial("_ProductBox2", product)
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
</div>
